*{
    font-family: 'poppins';
    
}
.nav-item .nav-link{
    margin:0 10px;
}
.navbar{
    background: #046304;
    border-bottom: 3px solid #f70707;
}
.navbar-text,
.navbar-brand,
.nav-link{
color:#fff !important;
}


