*{
    margin: 0;
    padding:0;
    font-family: 'poppins';
}
.nav-item .nav-link{
    margin:0 10px;
}

.contenair{
    max-width: 700px;
    width: 100%;
    background: #002435a6;
    border-radius:0.5rem;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1),
    0px 5px 12px -2px rgba(252, 248, 248, 0.1),
    0px 18px 36px -6px rgba(255, 255, 255, 0.1);
    margin: 100px auto;
}
.contenair .title{
    padding:5px;
    background: #0e86e9dc;
    color: white;
}
.contenair .title p{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.contenair .title p::before{
    content:"";
    position: absolute;
    bottom:0;
    left:0;
    width: 30px;
    height: 3px;
    background: linear-gradient( to right,#F37A65,#D64141);
}
.user_details{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:25px;
    gap: 20px;
}
.user_details .input_box{
    width:calc(100%/1);
}
.input_box label{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    color: white;
}
.input_box label::after{
    content: "*";
    color:red;

}
select{
   margin: 10px 0; 
}
.input_box input,select{
    width: 100%;
    height:40px;
    border:none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    padding-left:15px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    background-color: #f6f8fa;
    font-family: 'poppins';
    transition: all 120ms ease-in-out 0s;
}

.input_box input:focus,
.input_box input:valid{
    box-shadow: 0px 0px 0px 2px #07b8be;
    font-weight: 500;
    color: #000000;
}
select{
    font-size: 16px;
    font-weight: 500;
    padding-left:15px;
    font-family: 'poppins';
    margin: 10px 0;

}
.input_box select:focus{
    box-shadow: 0px 0px 0px 2px #aed2e2;
}
.input_box select option:valid{
    color: #0846a3;
}
.input_box select:focus{
    box-shadow: 0px 0px 0px 2px #aed2e2;
}

.reg_btn{
    padding:20px 25px;
}
.reg_btn input{
    height: 45px;
    width: 100%;
    border:none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient( to right,#8ad4f7,#00aeff);
    border-radius:5px;
    color:#ffffff;
    text-shadow: 0px 2px 2px  rgba(0,0,0,0.2);
}
.reg_btn input:hover{
    background: linear-gradient( to left,#8ad4f7,#00aeff);
}

@media only screen and (max-width:700px){
   
    body{
        background-image:url('./images1/mairie.jpg');
        background-repeat:none; 
        background-size:cover; 
        background-position:center;
        background-repeat: no-repeat;
        /*background: #f6f8fa;*/
        font-family: 'poppins';
        background-attachment: fixed;
        height:130vh;
    }
    .contenair{
        max-width: 450px;
        width: 100%;
        background: #002435a6;
        border-radius:0.5rem;
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1),
        0px 5px 12px -2px rgba(252, 248, 248, 0.1),
        0px 18px 36px -6px rgba(255, 255, 255, 0.1);
        margin: 100px auto;
    }
    
}
